#map {
    height: 500px;
    width: 70%;
    display: inline-block;
}

.sequence-control-container, .legend-control-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    text-align: center;
    border: solid gray 1px;
}

.sequence-control-container {
    width: 350px;
    height: 30px;
    line-height: 45px;
}

#panel {
    width: 25%;
    padding: 5px;
    display: inline-block;
    vertical-align: bottom;
    text-align: left;
    line-height: 20px;
    font-size: 0.8em;
    background-image: url('img/brucespringsteen1975.jpg');
    background-size: cover;
}

#tours {
    list-style-type: none;
}

#tours .active{
    background: #b84dff;
    color: yellow;
}


.sequence-control-container {
    width: 350px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

.range-slider {
    width: 200px;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}
/*styling for leaflet popups*/
.leaflet-popup-content p {
    margin: 0.2em;
    color: black;
}
